.content-box{
  
}
.card-content {
    border: 1px solid #ccc;
    width: 300px;
    height: 500px;
    margin: 2rem 1rem;
    box-shadow: 0px 1px 16px 6px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 0px 1px 16px 6px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 1px 16px 6px rgba(0, 0, 0, 0.37);
}

.list-content {
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    display: flex;
    width: 100%;
    border: 1px solid #ccc;
    justify-content: center;
    flex-wrap: wrap;
}

.card-content .title-content {
    text-align: center;
    margin: 1rem 0;
}

.card-content .main-content {
    padding: 0 1rem;
    font-size: 0.75rem;
    text-align: justify;
}