header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.option{
    width: 200px;
    position: absolute ;
    right: 100px;
    display: inline-block;
}
section{
    height: 2000px;
}