<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="d-flex">
            <div>
                <img src="https://devmaster.edu.vn/images/logo.png" alt="" class="logo-img">
            </div>

            <ul id="nav">
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Sản phẩm</a></li>
                <li>
                    <a href="#">Dịch vụ</a>
                    <div class="mega-menu">
                        <ul>
                            <li class="option"><a href="#">FE</a></li>
                            <li class="option"><a href="#">BE</a>
                                <ul class="menu-3">
                                    <li class="option-3"><a href="#">1</a></li>
                                    <li class="option-3"><a href="#">2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Liên hệ</a></li>
                <li>
                    <a href="#">Thêm</a>
                    <div class="subnav">
                        <ul >
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <section>
        <div class="page-content">
            <div class="banner">
                <img src="https://devmaster.edu.vn/uploads/images/2020/11/20-11-2020.jpg" alt="" class="logo-img-2">
            </div>
            <div class="list-item">
                <div class="card">
                    <div class="img-card">
                        <img src="/practice/bt31_08/images/web_-_kashmir_mo_i_copy_2_.webp" alt="img">
                    </div>
                    <div class="name-card">
                        <div class="name-card-1">
                            <p>KASHMIR</p>
                        </div>
                        <div class="name-card-2">
                            <p>MODISH</p>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-discount">
                            <b>2.148.000 <sup>đ</sup></b>
                        </div>
                        <div class="old-price">
                            <b>2.999.000 <sup>đ</sup></b>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="/practice/bt31_08/images/web_-_kashmir_mo_i_copy_2_.webp" alt="img">
                    </div>
                    <div class="name-card">
                        <div class="name-card-1">
                            <p>KASHMIR</p>
                        </div>
                        <div class="name-card-2">
                            <p>MODISH</p>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-discount">
                            <b>2.148.000 <sup>đ</sup></b>
                        </div>
                        <div class="old-price">
                            <b>2.999.000 <sup>đ</sup></b>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="/practice/bt31_08/images/web_-_kashmir_mo_i_copy_2_.webp" alt="img">
                    </div>
                    <div class="name-card">
                        <div class="name-card-1">
                            <p>KASHMIR</p>
                        </div>
                        <div class="name-card-2">
                            <p>MODISH</p>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-discount">
                            <b>2.148.000 <sup>đ</sup></b>
                        </div>
                        <div class="old-price">
                            <b>2.999.000 <sup>đ</sup></b>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="/practice/bt31_08/images/web_-_kashmir_mo_i_copy_2_.webp" alt="img">
                    </div>
                    <div class="name-card">
                        <div class="name-card-1">
                            <p>KASHMIR</p>
                        </div>
                        <div class="name-card-2">
                            <p>MODISH</p>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-discount">
                            <b>2.148.000 <sup>đ</sup></b>
                        </div>
                        <div class="old-price">
                            <b>2.999.000 <sup>đ</sup></b>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="/practice/bt31_08/images/web_-_kashmir_mo_i_copy_2_.webp" alt="img">
                    </div>
                    <div class="name-card">
                        <div class="name-card-1">
                            <p>KASHMIR</p>
                        </div>
                        <div class="name-card-2">
                            <p>MODISH</p>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-discount">
                            <b>2.148.000 <sup>đ</sup></b>
                        </div>
                        <div class="old-price">
                            <b>2.999.000 <sup>đ</sup></b>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="/practice/bt31_08/images/web_-_kashmir_mo_i_copy_2_.webp" alt="img">
                    </div>
                    <div class="name-card">
                        <div class="name-card-1">
                            <p>KASHMIR</p>
                        </div>
                        <div class="name-card-2">
                            <p>MODISH</p>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-discount">
                            <b>2.148.000 <sup>đ</sup></b>
                        </div>
                        <div class="old-price">
                            <b>2.999.000 <sup>đ</sup></b>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="/practice/bt31_08/images/web_-_kashmir_mo_i_copy_2_.webp" alt="img">
                    </div>
                    <div class="name-card">
                        <div class="name-card-1">
                            <p>KASHMIR</p>
                        </div>
                        <div class="name-card-2">
                            <p>MODISH</p>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-discount">
                            <b>2.148.000 <sup>đ</sup></b>
                        </div>
                        <div class="old-price">
                            <b>2.999.000 <sup>đ</sup></b>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="/practice/bt31_08/images/web_-_kashmir_mo_i_copy_2_.webp" alt="img">
                    </div>
                    <div class="name-card">
                        <div class="name-card-1">
                            <p>KASHMIR</p>
                        </div>
                        <div class="name-card-2">
                            <p>MODISH</p>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-discount">
                            <b>2.148.000 <sup>đ</sup></b>
                        </div>
                        <div class="old-price">
                            <b>2.999.000 <sup>đ</sup></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>

    </footer>
</body>
</html>