<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/style_2.css">
    <title>Menu</title>
</head>
<body>
    <header>
        <nav>
            <ul class="menu-1">
                <li class="option"><a href="#" class="link">Home</a></li>
                <li class="option"><a href="#" class="link">Contac</a></li>
                <li class="option">
                    <a href="#" class="link">Product</a>
                    <div class="menu-2">
                        <ul class="list-option-2">
                            <li class="option-2"><a href="#" class="link-2">FE</a></li>
                            <li class="option-2"><a href="#" class="link-2">BE</a></li>
                        </ul>
                    </div>
                </li>
                <li class="option"><a href="#" class="link">News</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>