<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Javascript</title>
</head>

<body>
    <header>

    </header>

    <section>
        <h1>Các khái niệm cơ bản</h1>
        <pre>
            I, Định nghĩa
            II, Mục đích
            III, Quy tắc
                - Phân biệt hoa, thường. a != A
            IV, Khai báo & sử dụng
                - 3 Cách sử dụng
            V, Nội dung
            1, Biến.
        </pre>

    </section>

    <section>
        <div>
            <label for="username">UserName</label>
            <input type="text" name="username" id="username" class="username">
        </div>
        <div>
            <input type="text" name="name" id="productname">
            <button type="submit" onclick="searchProduct()">Tìm kiếm</button>
        </div>
    </section>

    <footer>

    </footer>

    <script src="../js/home.js"></script>
</body>

</html>