<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review HTML $ CSS</title>
</head>

<body>
    <header>

    </header>

    <section>
        <h1>Tổng quan HTML và CSS</h1>

        <pre>
            A, HTMl
                1, Cấu trúc file, cấu trúc page
                2, Cú pháp một số element
                3, Vận dung các  element bố cục - nội dung => phân chia bố cục phù hợp
            B, CSS
                1, Khởi tạo và khai báo sử dụng
                2, Cú pháp: Selector ( thuộc tính: value )
                3, Thứ tự ưu tiên trong css: 
                4, Animation & responsive 
                    - Cú pháp khai báo - sử dụng
                    - Ý nghĩa/mục đích 
                    - Phạm vi sử dụng: 
            C, Javascript: Ngôn ngữ lập trình 
                1, Các khái niệm logic cơ bản: 
                        - Về biến, kiểu dữ liệu, toán tử, các cấu trúc đặc thừ
                        - Mảng, hàm, đối tượng.
                2, Vận dụng Javascript:
                3, Các ứng dụng js trên client : cache.
                
        </pre>
    </section>

    <footer>

    </footer>
</body>

</html>