*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    list-style: none;
    scroll-behavior: smooth;
}
html{
    font-size: 20px;
}
.t-ct{
    text-align: center;
}
/* responsive */


@media only screen and (max-width: 1060px){
    html{
        font-size: 15px;
    }   

}
@media only screen and (max-width: 810px){
    html{
        font-size: 15px;
    }
    nav .logo-img{
        width: 50px;
    }
    .title-banner{
        text-align: center;
        position: absolute;
        top:42% !important;
        left: 50% !important;
        transform: translate(-50% ,0);
    }
    .title-2 p{
        font-size: 1.8rem !important;
    }
    nav .menu-first{
        width: 100%;
        display: block !important;
       
    }
    nav .menu-list:not(:first-child){
        display: none;
    }
    nav .menu-list{
        position: absolute !important;
        right: 3rem;
    }

}
@media only screen and (max-width: 500px){
    html{
        font-size: 10px;
    }
    nav .logo-img{
        width: 50px;
    }
    .title-banner{
        text-align: center;
        position: absolute;
        top:42% !important;
        left: 50% !important;
        transform: translate(-50% ,0);
    }
    .title-2 p{
        font-size: 1.8rem !important;
    }
    nav .menu-first{
        width: 100%;
        display: block !important;
       
    }
    nav .menu-list:not(:first-child){
        display: none;
    }
    nav .menu-list{
        position: absolute !important;
        right: 3rem;
    }
}