<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lesson_05/Css/style.css">
    <title>Cách sử dụng Css</title>
    <style>
        section{
            background-color: aquamarine;
        }
    </style>
</head>
<body>
    <header class="header" id="header" data-attr="header"></header>
    
    <section style="color: red;">
        <pre>
            I, cách tạo file css
                'tên file'.css
            II, Cách viết Css
                1, viết css trên chính các element
                    toàn bộ các css dc đặt trong value cảu thuộc tinh của style trên element mở
                2, viết css trong phần nội dung của element style 
                3, khởi tạo và khai báo file chứa các nội dụng Css
                    - nắm dc quy tắc tạo file css 
                    - biết cách nhúng file css vào file html
                    - nắm dc quy tắc viết selector
                        +, syntax:
                        'selector'{
                            key: value <=> tên thuộc tính : giá trị thuộc tính
                        }
                        +, ghi chú: selector <=> element/class/attr/id
                                                độ ưu tiên tăng dần hoặc !important
        </pre>

    </section>

    <footer></footer>
</body>
</html>