<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lesson_05/Css/style_02.css">
    <title>Ex_02</title>
</head>
<body>
    <header class="header">header</header>

    <section>
        <div class="nav">
            nav
        </div>

        <div class="body">
            <div class="left">
                left
            </div>
            <div class="body-center">
                body
            </div>
            <div class="right">
                right
            </div>
        </div>
    </section>

    <footer>
        footer
    </footer>
</body>
</html>