<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lesson_05/Css/style_03.css">
    <title>Ex_03</title>
</head>
<body>
    <header>
        <div>
            <ul>
                <li><a href="../Views/ex_02.html" class="nav-link">Trang chủ</a></li>
                <li><a href="#" class="nav-link">Sản phẩm</a></li>
                <li><a href="#" class="nav-link">Dịnh vụ</a></li>
                <li><a href="#" class="nav-link">Giới thiệu</a></li>
                <li><a href="#" class="nav-link">Liên hệ</a></li>
            </ul>
        </div>
    </header>

    <section>
        
    </section>

    <footer></footer>
</body>
</html>