<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <style>
        label{
            display: inline-block;
            width: 140px;
        }
    </style>
</head>
<body>
    <!-- start header -->
    <header>
        <nav>
            <div style="background-color: red;">
                <ul style="display: flex; list-style: none;">
                    <li style="padding: 8px 4px; margin-left: 120px;">
                        <a href="#">Trang chủ</a>
                    </li>
                    <li style="padding: 8px 4px;">
                        <a href="#">Sản phẩm</a>
                    </li>
                    <li style="padding: 8px 4px;">
                        <a href="#">Dịch vụ</a>     
                    </li>
                    <li style="padding: 8px 4px;">
                        <a href="#">Tin tức</a>
                    </li>
                    <li style="padding: 8px 4px;">
                        <a href="#">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <div>

            </div>
        </nav>
    </header>

    <!-- start body -->
    <section>
        <!-- banner -->
        <div>
            <img src="https://devmaster.edu.vn/uploads/images/devmaster-campaign/devmaster-lap-trinh-asp-net-mvc-5-webapi-angularjs.jpg" alt="demo">
        </div>
        <!-- ds sản phẩm -->
        <div>
            <h1>Bài viết của tôi</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam soluta quo non eaque et. Sequi?</p>
        </div>


        <div>
            <div>
                <h1>Tiêu đề</h1>
            </div>
            <!-- form -->
            <div>
                <form action="">
                    <h2>Đăng ký thông tin người sử dụng</h2>
                    <div>
                        <label for="name">Tên đăng nhập</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div>
                        <label for="passwd_1">Mật khẩu</label>
                        <input type="password" name="passwd" id="passwd_1" required>
                    </div> 
                    <div>
                        <label for="passwd_2">Nhập lại mật khẩu</label>
                        <input type="password" name="passwd" id="passwd_2" required>
                    </div>
                    <div>
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" required>
                    </div>
                    <div class="button">
                        <input type="submit" value="Đăng ký">
                        <input type="reset" value="Làm lại">
                    </div>
                </form>
            </div>
            <div>
                <p>Tác giả khuongduyy</p>
            </div>
        </div>

        <!-- video -->
        <div>
            <div>
                <h1>My video</h1>
            </div>
            <div>
                <video width="600" src="https://cdn.realtech.com.vn/uploads/1/news/2023/0/86/updat1.mp4?fbclid=IwAR1t6n4x0qlnlJaBJaBqVpnes-5CCVgX7YISdHV1LMoQzmxMEAOH1REwceQ" controls="true" loop autoplay type="video/mp4" ></video>
                <iframe width="600" height="400" src="https://www.youtube.com/embed/JHSRTU31T14?si=0ElV6y7SRL5JOYgl" title="video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
        
    </section>
    <!-- end body -->

    <!-- start body -->
    <footer>

    </footer>
    <!-- end body -->
</body>
</html>