<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo_video</title>
</head>
<body>
    <div>
        <table border="1" cellpadding="10">
            <tbody>
                <tr>
                    <td rowspan="5">
                        <div>
                            <iframe width="1280" height="800" src="https://www.youtube.com/embed/JHSRTU31T14?list=RDJHSRTU31T14" title="SƠN TÙNG M-TP | THERE’S NO ONE AT ALL (ANOTHER VERSION) | OFFICIAL MUSIC VIDEO" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            <iframe width="200" height="150" src="https://www.youtube.com/embed/1L2CkF2qV48?list=RDJHSRTU31T14" title="Haru Haru - Big Bang ( Only Beat ) - Huy Lee Prod | Type Beat" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora officia dignissimos, sapiente sit, adipisci in natus, atque quia ea optio asperiores impedit quam quis pariatur minus sunt non voluptate. Voluptate.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <iframe width="200" height="150" src="https://www.youtube.com/embed/1L2CkF2qV48?list=RDJHSRTU31T14" title="Haru Haru - Big Bang ( Only Beat ) - Huy Lee Prod | Type Beat" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora officia dignissimos, sapiente sit, adipisci in natus, atque quia ea optio asperiores impedit quam quis pariatur minus sunt non voluptate. Voluptate.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <iframe width="200" height="150" src="https://www.youtube.com/embed/1L2CkF2qV48?list=RDJHSRTU31T14" title="Haru Haru - Big Bang ( Only Beat ) - Huy Lee Prod | Type Beat" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora officia dignissimos, sapiente sit, adipisci in natus, atque quia ea optio asperiores impedit quam quis pariatur minus sunt non voluptate. Voluptate.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <iframe width="200" height="150" src="https://www.youtube.com/embed/1L2CkF2qV48?list=RDJHSRTU31T14" title="Haru Haru - Big Bang ( Only Beat ) - Huy Lee Prod | Type Beat" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora officia dignissimos, sapiente sit, adipisci in natus, atque quia ea optio asperiores impedit quam quis pariatur minus sunt non voluptate. Voluptate.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <iframe width="200" height="150" src="https://www.youtube.com/embed/1L2CkF2qV48?list=RDJHSRTU31T14" title="Haru Haru - Big Bang ( Only Beat ) - Huy Lee Prod | Type Beat" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                    </td>
                    <td>
                        <div>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora officia dignissimos, sapiente sit, adipisci in natus, atque quia ea optio asperiores impedit quam quis pariatur minus sunt non voluptate. Voluptate.
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>