.page-product .product-top{
    position: relative;
}
.page-product .product-sale{
    position: absolute;
    background-color: red;
    padding: 6px 10px;
    border-radius: 4px;
    top: 1.5rem;
    left: 1.5rem;
}
.product-item{
    position: relative;
}
.product-mid{
    position: absolute;
    top: 80%;
    left: 0;
    display: none;
}
.page-product .product-mid button{
    padding: 1rem;
}
.page-product .product-bot{
    text-align: center;
}
.page-product .product-item:hover .product-mid{
    display: block;
}
.product-mid:hover button{
    background-color: black;
    color: aliceblue;
}
@keyframes shadow {
    from{
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.61);
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.61);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.61);
    }
    to{
        box-shadow: 0px 1px 76px -6px rgba(0,0,0,0.61);
        -webkit-box-shadow: 0px 1px 76px -6px rgba(0,0,0,0.61);
        -moz-box-shadow: 0px 1px 76px -6px rgba(0,0,0,0.61);
    }
    
}
.page-product .product-item:hover {
    animation: shadow 1s;
    box-shadow: 0px 1px 76px -6px rgba(0,0,0,0.61);
    -webkit-box-shadow: 0px 1px 76px -6px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 1px 76px -6px rgba(0,0,0,0.61);
}
.list-product{
    width: 80%;
    padding-top: 200px;
    margin: auto;
}
@keyframes zoom{
    from{
        scale: 1;
    }
    to{
        scale: 1,5;
    }
}
.page-product .product-top .product-img img:hover{
    animation: zoom 1s;
    scale: 1.5;
}
.page-product .product-top .product-img {
    overflow: hidden;
}

@media only screen and (max-width: 500px) {
    .page-product .list-product .product-item.w-25{
        width: 50%;
    }
}