<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-menu"><a href="#">Trang chủ</a></li>
                <li class="nav-menu"><a href="#">Giới thiệu</a></li>
                <li class="nav-menu"><a href="#">Sản phẩm</a>
                    <ul class="nav-second">
                        <li class="nav-menu-1"><a href="#">1</a></li>
                        <li class="nav-menu-1"><a href="#">2</a></li>
                        <li class="nav-menu-1"><a href="#">3</a></li>
                    </ul>
                </li>
                <li class="nav-menu"><a href="#">Dịch vụ</a></li>
                <li class="nav-menu"><a href="#">Liên hệ</a></li>
            </ul>
        </nav>
    </header>

    <section>

    </section>

    <footer>

    </footer>
</body>
</html>