*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

nav .menu-1{
    display: flex;
    width: 100%;
    background-color: rgb(0, 0, 0);
    
}
.option {
    padding: 10px 20px;
    width: 100px;
    text-align: center;
    position: relative;
}
.option .link{
    color: aliceblue;
    font-size: 24px;
}
.option:hover{
    background-color: aqua;
}

/* menu-2 */
.list-2{
    position: absolute;
    background-color: black;
    width: 140px;
    top: 100%;
    left: 0;
    display: none;
    
}
.list-2 .option-2{
    padding: 10px 20px;
    width: 100px;
    position: relative;
    
}
.option-2 .link-2{
    color: aliceblue;
    font-size: 24px;
}
.option-2:hover{
    background-color: aqua;
}
.option:hover .list-2{
    display: block;
}

/* menu-3 */
.list-3{
    position: absolute;
    background-color: black;
    width: 240px;
    left: 100%;
    top: 0;
    display: none;
    
}
.list-3 .option-3{
    padding: 10px 20px;
    width: 100%;
}
.option-3 .link-3{
    color: aliceblue;
    font-size: 24px;
   
}
.option-3:hover{
    background-color: aqua;
}
.option-2:hover .list-3{
    display: flex;
}








