*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

nav .menu-1{
    display: flex;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: relative;
}
.option {
    padding: 10px 20px;
}
.option .link{
    color: aliceblue;
    font-size: 24px;
}
.option:hover{
    background-color: aqua;
}

nav .menu-2{
    position: absolute;
    text-align: center;
    display: none;
}
.option-2{
    padding: 10px;
    background-color: black;
}
.list-option-2{
   
}
.option-2 .link-2{
    color: aliceblue;
    font-size: 24px;
}
.link-2:hover,
.option:hover .menu-2{
    background-color: aqua;
    display: block;
}








