<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animation and responsive</title>
    <link rel="stylesheet" href="../Css/style.css">
</head>
<body>
    <header>
        <nav>
            <div>
                <img src="../images/logo.cc5d661a.svg" alt="" class="logo-img">
            </div>
            <div>
                <ul class="menu-first">
                    <li class="menu-list"><a href="#" class="link">Trang chủ</a></li>
                    <li class="menu-list"><a href="#" class="link">Sản phẩm</a>
                        <ul class="menu-second">
                            <li class="menu-list-second"><a href="#" class="link-second">Sản phẩm 1</a>
                                <ul class="menu-third">
                                    <li class="menu-list-third"><a href="#" class="link-third">1</a></li>
                                    <li class="menu-list-third"><a href="#" class="link-third">2</a></li>
                                </ul>
                            </li>
                            <li class="menu-list-second"><a href="#" class="link-second">Sản Phẩm 2</a></li>
                            <li class="menu-list-second"><a href="#" class="link-second">Sản Phẩm 3</a></li>
                        </ul>
                    </li>
                    <li class="menu-list"><a href="#men-seller" class="link">Nam giới</a>
                        <ul class="menu-second">
                            <li class="menu-list-second"><a href="#" class="link-second">Sản phẩm 1</a>
                                <ul class="menu-third">
                                    <li class="menu-list-third"><a href="#" class="link-third">1</a></li>
                                    <li class="menu-list-third"><a href="#" class="link-third">2</a></li>
                                </ul>
                            </li>
                            <li class="menu-list-second"><a href="#" class="link-second">Sản Phẩm 2</a></li>
                            <li class="menu-list-second"><a href="#" class="link-second">Sản Phẩm 3</a></li>
                        </ul>
                    </li>
                    <li class="menu-list"><a href="#women-seller" class="link">Nữ giới</a>
                        <ul class="menu-second">
                            <li class="menu-list-second"><a href="#" class="link-second">Sản phẩm 1</a>
                                <ul class="menu-third">
                                    <li class="menu-list-third"><a href="#" class="link-third">1</a></li>
                                    <li class="menu-list-third"><a href="#" class="link-third">2</a></li>
                                </ul>
                            </li>
                            <li class="menu-list-second"><a href="#" class="link-second">Sản Phẩm 2</a></li>
                            <li class="menu-list-second"><a href="#" class="link-second">Sản Phẩm 3</a></li>
                        </ul>
                    </li>
                    <li class="menu-list">
                        <a href="#" class="link">Về Curnon</a>
                        <ul class="menu-second">
                            <li class="menu-list-second"><a href="#" class="link-second">Liên hệ</a>
                                <ul class="menu-third">
                                    <li class="menu-list-third"><a href="#" class="link-third">Email</a></li>
                                    <li class="menu-list-third"><a href="#" class="link-third">FaceBook</a></li>
                                </ul>
                            </li>
                            <li class="menu-list-second"><a href="#" class="link-second">Fanpage</a></li>
                            <li class="menu-list-second"><a href="#" class="link-second">More</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section>
        <div class="content">
            <div class="banner">
                <img src="../images/banner2.webp" alt="" class="img-banner">
                <div class="title-banner">
                    <div class="title-1"><p>NEW ARRIVALS</p></div>
                    <div class="title-2"><p>ARDOR COLLECTION</p></div>
                    <div class="title-3"><p>Sale Off 20% | 28.08.2023</p></div>
                    <button class="button-banner"><a>SHOP NOW</a></button>
                </div>
            </div>
            <div class="title" id="men-seller">
                <p class="title-text">MEN'S BEST SELLERS</p>
            </div>
            <div class="list-item">
                <div class="card">
                    <div class="img-card">
                        <img src="../images/modish.webp" alt="img">
                    </div>
                    <div class="sell-off">
                        <p>16%</p>
                    </div>
                    <div class="add-item">
                        <p>THÊM VÀO GIỎ</p>
                    </div>
                    <div class="name-card">
                        <div class="name-card-1">
                            <p>KASHMIR</p>
                        </div>
                        <div class="name-card-2">
                            <p>MODISH</p>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-discount">
                            <b>1.948.000 <sup>đ</sup></b>
                        </div>
                        <div class="old-price">
                            <b>2.299.000 <sup>đ</sup></b>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="../images/gaallant.webp" alt="img">
                    </div>
                    <div class="sell-off">
                        <p>18%</p>
                    </div>
                    <div class="add-item">
                        <p>THÊM VÀO GIỎ</p>
                    </div>
                    <div class="name-card">
                        <div class="name-card-1">
                            <p>KASHMIR</p>
                        </div>
                        <div class="name-card-2">
                            <p>GALLANT</p>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-discount">
                            <b>2.148.000 <sup>đ</sup></b>
                        </div>
                        <div class="old-price">
                            <b>2.399.000 <sup>đ</sup></b>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="../images/heinz_1.webp" alt="img">
                    </div>
                    <div class="sell-off">
                        <p>19%</p>
                    </div>
                    <div class="add-item">
                        <p>THÊM VÀO GIỎ</p>
                    </div>
                    <div class="name-card">
                        <div class="name-card-1">
                            <p>WEIMAR</p>
                        </div>
                        <div class="name-card-2">
                            <p>HEINZ</p>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-discount">
                            <b>2.199.000 <sup>đ</sup></b>
                        </div>
                        <div class="old-price">
                            <b>2.999.000 <sup>đ</sup></b>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="../images/herbert.webp" alt="img">
                    </div>
                    <div class="sell-off">
                        <p>21%</p>
                    </div>
                    <div class="add-item">
                        <p>THÊM VÀO GIỎ</p>
                    </div>
                    <div class="name-card">
                        <div class="name-card-1">
                            <p>WEIMAR</p>
                        </div>
                        <div class="name-card-2">
                            <p>HERBERT</p>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-discount">
                            <b>2.298.000 <sup>đ</sup></b>
                        </div>
                        <div class="old-price">
                            <b>2.699.000 <sup>đ</sup></b>
                        </div>
                    </div>
                </div>
            </div>

            <div class="title" id="women-seller">
                <p class="title-text">WOMEN'S BEST SELLERS</p>
            </div>
            <div class="list-item">
                <div class="card">
                    <div class="img-card">
                        <img src="../images/kiss.webp" alt="img">
                    </div>
                    <div class="sell-off">
                        <p>16%</p>
                    </div>
                    <div class="add-item">
                        <p>THÊM VÀO GIỎ</p>
                    </div>
                    <div class="name-card">
                        <div class="name-card-1">
                            <p>MORAINE</p>
                        </div>
                        <div class="name-card-2">
                            <p>KISS</p>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-discount">
                            <b>1.948.000 <sup>đ</sup></b>
                        </div>
                        <div class="old-price">
                            <b>2.299.000 <sup>đ</sup></b>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="../images/grace.webp" alt="img">
                    </div>
                    <div class="sell-off">
                        <p>18%</p>
                    </div>
                    <div class="add-item">
                        <p>THÊM VÀO GIỎ</p>
                    </div>
                    <div class="name-card">
                        <div class="name-card-1">
                            <p>MORAINE</p>
                        </div>
                        <div class="name-card-2">
                            <p>GRACE</p>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-discount">
                            <b>2.148.000 <sup>đ</sup></b>
                        </div>
                        <div class="old-price">
                            <b>2.399.000 <sup>đ</sup></b>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="../images/charm.webp" alt="img">
                    </div>
                    <div class="sell-off">
                        <p>19%</p>
                    </div>
                    <div class="add-item">
                        <p>THÊM VÀO GIỎ</p>
                    </div>
                    <div class="name-card">
                        <div class="name-card-1">
                            <p>MELISSANI</p>
                        </div>
                        <div class="name-card-2">
                            <p>CHARM</p>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-discount">
                            <b>2.199.000 <sup>đ</sup></b>
                        </div>
                        <div class="old-price">
                            <b>2.999.000 <sup>đ</sup></b>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="img-card">
                        <img src="../images/wind.webp" alt="img">
                    </div>
                    <div class="sell-off">
                        <p>21%</p>
                    </div>
                    <div class="add-item">
                        <p>THÊM VÀO GIỎ</p>
                    </div>
                    <div class="name-card">
                        <div class="name-card-1">
                            <p>MELISSANI</p>
                        </div>
                        <div class="name-card-2">
                            <p>WIND</p>
                        </div>
                    </div>
                    <div class="price">
                        <div class="price-discount">
                            <b>2.298.000 <sup>đ</sup></b>
                        </div>
                        <div class="old-price">
                            <b>2.699.000 <sup>đ</sup></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>

    </footer>
</body>
</html>